.skillsTitle {
    color: #AD88C6;
    font-weight: 400;
}

.skillsContainer {
    padding-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.languages, .frontend, .backend, .design, .testing {
   font-size: 20px;
   border-bottom: #AD88C6 3px solid;
    width: 160px;
    background-image: -webkit-linear-gradient(left, black 25%, #AD88C6 37.5%, #DFA2BD, #F6779A 62.5%, white 75%);
    background-image: linear-gradient(90deg, black 25%, #AD88C6 37.5%, #DFA2BD, #F6779A 62.5%, white 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: black;
    color: black;
    transition: color 200ms linear;
}

.languages:hover, .frontend:hover, .backend:hover, .design:hover, .testing:hover {
    background-position: left center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-position 3000ms ease-out;
}

.skillCards {
    display: flex;
    justify-content: space-between;
    
 }

 .skillCard 
 { 
    border: #AD88C6 3px solid;
    border-radius: 5px;
    padding: 10px;
    width: 225px; 
    height: 320px;
 }


 @media(max-width: 768px) {

    .skillCards {
        flex-direction: column;
        align-items: center;
    }

    .skillCard {
        width: auto;
        margin-bottom: 20px; 
    }

    .skillsTitle {
        text-align: center;
    }

 }