footer{
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: smaller;
}

.footerText { 
   line-height: 0.5;
}

.githubLink {
    color: #AD88C6;
}