
header { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 7px;
    padding-bottom: 2px;
}


li, .name, .cv, .cvTwo{ 
    color: #AD88C6; 
    font-family: var(--font-prompt);
    font-weight: 400;
}

.name { 
    display: flex;
    margin: auto;
}
.logo {
    display: flex;
}

ul { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoName { 
display: flex;
align-items: center;
margin-left: 50px;
padding-bottom: 10px;
margin-top: 7px;

}

li a {
    color: #AD88C6;
}

.navigation {
    justify-content: center;
}

.mainNav ul, .mainNavInactive ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
  padding-right: 40px;
}





header {
    display: flex;
    margin: auto;
  
}

.cv {
    display: flex;
    border: 1px solid #AD88C6;
    border-radius: 10px;
    padding: 5px;
    margin-right: 60px;
}

.cvPosition {
   margin-top: -7px;
}

.cv a {
    text-decoration: none;
    color: #AD88C6;

}

.cvTwo a {
    text-decoration: none;
    color: #AD88C6;
}

a{
    text-decoration: none;
}
.hamburgerImg, .hamburgerImgClosed {
    opacity: 100%;
    border: none;
    height: 30px;
    width: 30px;
    
}

.menu { 
    background: transparent;
    border: none;
    display: none;
}

.cvTwo {
    display: none;

}

li:hover, li:hover a{
cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="30" width="30"><text y="28" font-size="32">🧿</text><path d="M0,2 L0,0 L2,0" fill="black" /></svg>'), auto;
}


@media (max-width: 768px) {

   

    .cvTwo {
    border: 1px solid #AD88C6;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    height: calc(15% - 10px); 
    box-sizing: border-box;
    margin-left: 250px;
    margin-top: 2px;
    }

    .cv {
        display: none;
    }

.menu {
    display: flex;
    margin-top: 3px;
    margin-left: 180px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.mainNav.active ul {
    flex-direction: column;
    text-align: center;
  }

  .mainNavInactive ul {
    display: none;
}

.logoName { 
    margin-left: 0px;
    position: fixed;
    margin-bottom: -7px
    
    }

}

@media (max-width: 500px) { 
    .cvTwo {
        position: fixed;
        top: 0; /* adjust as needed */
        left: 50%; /* center .cvTwo */
        transform:translateX(-50%);
        border: 1px solid #AD88C6;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        height: calc(15% - 10px); 
        box-sizing: border-box;
        margin-left: 140px;
        margin-top: 2px;
        }
    
        .cv {
            display: none;
        }
    
    .menu {
        display: flex;
        margin-top: 3px;
        position: fixed;
       
    }
    
    .header {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    
    .mainNav.active ul {
        flex-direction: column;
        text-align: center;
      }
    
      .mainNavInactive ul {
        display: none;
    }
    
    .logoName { 
        margin-left: 0px;
        position: fixed;
        margin-bottom: -7px
        
        }

}