
header { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}


li, .name, .cv, .cvTwo{ 
    color: #AD88C6; 
    font-family: var(--font-prompt);
    font-weight: 400;
}

.name { 
    display: flex;
    margin: auto;
}
.logo {
    display: flex;
}

ul { 
    display: flex;
    align-items: center;
}

.logoName { 
display: flex;
align-items: center;
margin-left: 50px;
padding-bottom: 10px;

}

.navigation {
    justify-content: center;
}

.mainNav ul, .mainNavInactive ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}





header {
    display: flex;
    margin: auto;
  
}

.cv {
    display: flex;
    border: 1px solid #AD88C6;
    border-radius: 10px;
    padding: 5px;
    margin-right: 50px;
}

.hamburgerImg, .hamburgerImgClosed {
    opacity: 100%;
    border: none;
    height: 30px;
    width: 30px;
    
}

.menu { 
    background: transparent;
    border: none;
    display: none;
}

.cvTwo {
    display: none;

}

@media (max-width: 768px) {

    .cvTwo {
    border: 1px solid #AD88C6;
    border-radius: 10px;
    padding: 5px;
    display: flex;

    }

    .cv {
        display: none;;
    }

.menu {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.mainNav.active ul {
    flex-direction: column;
    text-align: center;
  }

  .mainNavInactive ul {
    display: none;
}

.logoName { 
    margin-left: 0px;
    
    }

}