.projectsContainer {
  padding-top: 100px;
}

.projectsTitle {
    color: #AD88C6;
    font-weight: 400;
    margin-bottom: 0;
}

.projectName {
    font-size: 20px;
}

.projectsContainer {
    margin-left: 50px;
    margin-right: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
 }

 .images {
    width: 300px;
    height: 200px;
    border-radius: 5px;
 }

 .caption {
    display: flex;
    justify-content: space-between;
 }

 .imgWrap {
    position: relative; 
    width: 300px; 
    height: 200px; 
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #AD88C6;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  .imgWrap:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 14px;
    padding: 8px;
  }

  a {
    text-decoration: none;
    color: black;
  }


  .projectLink :hover {
    color:#AD88C6
  }

  @media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: auto;
        margin-bottom: 20px; 
    }

    .imgWrap {
        width: auto; 
    }


   

    .caption {
        flex-direction: row; 
        padding: 10px 0;
    }

    .caption p {
        margin-bottom: 10px; 
    }

    .projectsTitle{
        text-align: center; 
    }

    .projectName {
        text-align: center; 
        width: 100%;
    }

}