.projectsContainer {
  padding-top: 100px;
}

.projectsTitle {
    color: #AD88C6;
    font-weight: 400;
    margin-bottom: 0;
}

.projectName {
    font-size: 20px;
    background-image: -webkit-linear-gradient(left, black 25%, #AD88C6 37.5%, #DFA2BD, #F6779A 62.5%, white 75%);
    background-image: linear-gradient(90deg, black 25%, #AD88C6 37.5%, #DFA2BD, #F6779A 62.5%, white 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: black;
    color: black;
    transition: color 200ms linear;
}

.projectName:hover {
  background-position: left center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-position 3000ms ease-out;
  cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="30" width="30"><text y="28" font-size="32">🎨</text><path d="M0,2 L0,0 L2,0" fill="transparent" /></svg>'), auto;
}

.projectsContainer {
    margin-left: 50px;
    margin-right: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
 }

 .images {
    width: 300px;
    height: 200px;
    border-radius: 5px;
 }

 .caption {
    display: flex;
    justify-content: space-between;
 }

 .imgWrap {
    position: relative; 
    width: 300px; 
    height: 200px; 
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #AD88C6;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  .imgWrap:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 14px;
    padding: 8px;
  }

  a {
    text-decoration: none;
    color: white;
  }


  

  .projectLink {
   border-radius: 5px;
   padding: 5px;
   background-color:rgba(173, 136, 198, 0.80);
color: white;
  } 

.projectLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); }
  

  @media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: auto;
        margin-bottom: 20px; 
    }

    .imgWrap {
        width: auto; 
    }


   

    .caption {
        flex-direction: row; 
        padding: 10px 0;
    }

    .caption p {
        margin-bottom: 10px; 
    }

    .projectsTitle{
        text-align: center; 
    }

    .projectName {
        text-align: center; 
        width: 100%;
    }

}